
## Export regular function names
export(autolayout, HOF, Para, betaresp)

## export regular functions with dot names
export(pick.model, Para.niche, Para.opt, Para.deriv)

## Export .Deprecated functions (to be removed later)

## export the following internal functions
export(HOF.model, HOF.fun, scale01, svHOF, eHOF.modelnames)

## Registration of S3 methods
# importFrom(foreign, read.dbf)
# importFrom(utils, head, tail)
importFrom(lattice, xyplot, panel.xyplot)
importFrom(mgcv, gam)
importFrom("graphics", "axTicks", "axis", "boxplot", "hist", "layout", "legend", "lines", "matlines", "mtext", "par", "plot", "points", "polygon", "text", "title")
importFrom("grDevices", "gray", "grey", "rainbow")
importFrom("stats", "D", "binomial", "coef", "deriv", "deviance", "fitted", "glm", "logLik", "nlminb", "optim", "optimize", "plogis", "predict", "printCoefmat", "rbinom")
importFrom("utils", "setTxtProgressBar", "txtProgressBar")

# HOF
S3method(HOF, default)
S3method(HOF, data.frame)
S3method(HOF, fun)
S3method(HOF, model)
S3method(pick.model, HOF)
S3method(pick.model, HOF.list)
S3method(Para, HOF)
S3method(Para, HOF.list)
S3method(Para, deriv)
S3method(Para, niche)
S3method(Para, opt)
S3method(predict, HOF)
S3method(fitted, HOF)
S3method(coef, HOF)
S3method(deviance, HOF)
S3method(logLik, HOF)

# graphics
S3method(plot, HOF)
S3method(plot, HOF.list)
S3method(plot, betaresp)
S3method(lines, betaresp)

# print
S3method(print, HOF)
S3method(print, HOF.list)

# others
